.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: inline-block;
  animation: marquee 50s linear infinite;
  animation-delay: -10s; /* Quan trọng: bắt đầu ngay từ giữa chừng */
}

.marquee-content:hover {
  animation-play-state: running !important;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
