@import "tailwindcss";
@import "tw-animate-css";
@import "tailwind-animate";
@plugin "@tailwindcss/typography";
@import "./styles/base.css";
@import "./styles/theme.css";
@import "./styles/scrollbar.css";

/*  dark toàn bộ */

@custom-variant dark (&:where(.dark, .dark *));

/*  dark cục bộ - có thể dùng cùng với toàn cục - nhưng admin-dark được ưu tiên cao hơn,  */

@custom-variant admin-dark (.admin-dark &, .dark.admin-dark &);
